* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: aliceblue;
}

.grid-container {
    border: 2px solid black;
    margin-bottom: 30px;
}

.grid-bg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.square {
    border: 1px solid lightgray;
}

.instructions-container p,
.instructions-container span {
    color: darkslateblue;
    font-weight: 700;
    font-size: 18px;
}

.instructions-container li {
    
    width: 600px;
    font-style: italic;
    font-weight: 400;
    list-style-type: none;
    color: darkslategray;
}